<div id="key_features" class="key-features section panel overflow-hidden">
    <div class="section-outer panel py-6 md:py-8 xl:py-10">
      <div class="container sm:max-w-lg">
        <div
          class="section-inner panel vstack items-center gap-4 lg:gap-6 xl:gap-8"
        >
          <div
            class="panel vstack items-center gap-2 xl:gap-3 sm:max-w-600px lg:max-w-700px mx-auto text-center"
            data-anime="onview: -200; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: easeOutCubic; duration: 500; delay: anime.stagger(100, {start: 200});"
          >
            <span
              class="fs-7 fw-medium py-narrow px-2 bg-dark text-white dark:bg-primary dark:text-dark rounded-pill"
              >Features</span
            >
            <h2 class="h3 lg:h1 m-0">
              All set to make a
              <span class="text-tertiary dark:text-primary"> profit</span>
            </h2>
            <p class="fs-6 xl:fs-5 xl:px-8">
              Offers a unified platform that fosters innovation while
              providing end-to-end data management.
            </p>
          </div>
          <div
            class="features-items row child-cols-12 sm:child-cols-6 g-2 col-match"
            data-anime="onview: -200; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: easeOutCubic; duration: 500; delay: anime.stagger(100, {start: 400});"
          >
            <div class="order-1 lg:order-0">
              <div
                class="features-item hstack items-start gap-2 lg:gap-4 p-2 lg:p-4 py-4 lg:py-6 bg-secondary dark:bg-tertiary-800 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5"
              >
                <div class="icon-box cstack rounded w-1/3">
                  <img
                    class="min-w-40px max-w-40px text-tertiary dark:text-primary"
                    src="./assets/icons/low.svg"
                    alt="feature-icon"
                    data-uc-svg
                  />
                </div>
                <div class="panel">
                  <div class="vstack gap-1">
                    <h3 class="title h6 lg:h5 m-0">
                      Low spreads from 0.6 pips
                    </h3>
                    <p class="desc fs-6">
                      Spreads affect your profits the most. The lower the
                      spreads, the higher the profits.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-0">
              <div
                class="features-item hstack items-start gap-2 lg:gap-4 p-2 lg:p-4 py-4 lg:py-6 bg-secondary dark:bg-tertiary-800 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5"
              >
                <div class="icon-box cstack rounded w-1/3">
                  <img
                    class="min-w-40px max-w-40px text-tertiary dark:text-primary"
                    src="./assets/icons/withdrawl.svg"
                    alt="feature-icon"
                    data-uc-svg
                  />
                </div>
                <div class="panel">
                  <div class="vstack gap-1">
                    <h3 class="title h6 lg:h5 m-0">Quick withdrawals</h3>
                    <p class="desc fs-6">
                      Easy withdrawals and deposits via Netbanking,
                      e-wallets, or digital currencies.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-2 sm:order-1 lg:order-0">
              <div
                class="features-item hstack items-start gap-2 lg:gap-4 p-2 lg:p-4 py-4 lg:py-6 bg-secondary dark:bg-tertiary-800 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5"
              >
                <div class="icon-box cstack rounded w-1/3">
                  <img
                    class="min-w-40px max-w-40px text-tertiary dark:text-primary"
                    src="./assets/icons/call.svg"
                    alt="feature-icon"
                    data-uc-svg
                  />
                </div>
                <div class="panel">
                  <div class="vstack gap-1">
                    <h3 class="title h6 lg:h5 m-0">
                      24/7 Customer Support
                    </h3>
                    <p class="desc fs-6">
                      Our customer support team is available 24/7 to help
                      you with any questions or concerns.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-1 lg:order-0">
              <div
                class="features-item hstack items-start gap-2 lg:gap-4 p-2 lg:p-4 py-4 lg:py-6 bg-secondary dark:bg-tertiary-800 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5"
              >
                <div class="icon-box cstack rounded w-1/3">
                  <img
                    class="min-w-40px max-w-40px text-tertiary dark:text-primary"
                    src="./assets/icons/global.svg"
                    alt="feature-icon"
                    data-uc-svg
                  />
                </div>
                <div class="panel">
                  <div class="vstack gap-1">
                    <h3 class="title h6 lg:h5 m-0">Global Encryption</h3>
                    <p class="desc fs-6">
                      Bank-level encryption and compliance features to keep
                      your data secure.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-3 lg:order-0">
              <div
                class="features-item hstack items-start gap-2 lg:gap-4 p-2 lg:p-4 py-4 lg:py-6 bg-secondary dark:bg-tertiary-800 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5"
              >
                <div class="icon-box cstack rounded w-1/3">
                  <img
                    class="min-w-40px max-w-40px text-tertiary dark:text-primary"
                    src="./assets/icons/noc.svg"
                    alt="feature-icon"
                    data-uc-svg
                  />
                </div>
                <div class="panel">
                  <div class="vstack gap-1">
                    <h3 class="title h6 lg:h5 m-0">No hidden fees</h3>
                    <p class="desc fs-6">
                      We don't charge any hidden fees. You can withdraw your
                      profits anytime.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-2 lg:order-0">
              <div
                class="features-item hstack items-start gap-2 lg:gap-4 p-2 lg:p-4 py-4 lg:py-6 bg-secondary dark:bg-tertiary-800 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5"
              >
                <div class="icon-box cstack rounded w-1/3">
                  <img
                    class="min-w-40px max-w-40px text-tertiary dark:text-primary"
                    src="./assets/icons/secure.svg"
                    alt="feature-icon"
                    data-uc-svg
                  />
                </div>
                <div class="panel">
                  <div class="vstack gap-1">
                    <h3 class="title h6 lg:h5 m-0">Enterprise Security</h3>
                    <p class="desc fs-6">
                      Bank-level encryption and compliance features to keep
                      your data secure.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            class="btn btn-md btn-outline-tertiary dark:text-primary border border-dark dark:border-white dark:border-opacity-15 px-3 mx-auto rounded-pill"
            data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: easeOutCubic; duration: 500; delay: 500;"
            href="page-features.html"
          >
            <span> Start trading now</span>
          </a>
        </div>
      </div>
    </div>
  </div>