<div id="how_it_works" style="background-color: black !important;" class="how-it-works section panel overflow-hidden">
  <div
    class="section-outer panel section-outer panel py-6 lg:py-8 xl:py-10 lg:mx-2"
  >
    <div
      class="position-absolute top-0 start-50 translate-middle w-1000px h-500px bg-white rounded-circle blur-10 blend-overlay d-none dark:d-block"
    ></div>
    <div
      class="position-absolute top-100 start-50 translate-middle w-1000px h-500px bg-white rounded-circle blur-10 blend-overlay d-none dark:d-block"
    ></div>
    <div class="container">
      <div
        class="section-inner panel vstack  rounded-3 overflow-hidden bg-secondary dark:bg-gray-300 dark:bg-opacity-15"
        data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: easeOutCubic; duration: 500; delay: 200;"
      >
        <div
          class="row child-cols-12 md:child-cols justify-center col-match g-4 sep uc-grid"
          data-uc-grid
        >
          <div class="min-w-1/4">
            <div
              class="panel vstack items-center gap-2 text-center p-5 xl:py-8"
            >
              <span
                class="icon-box w-40px md:w-48px h-40px md:h-48px rounded-circle cstack bg-primary dark:bg-tertiary text-black"
                >1</span
              >
              <img
                class="w-100 max-h-200px text-primary"
                src="./assets/our/1.png"
                alt="Image"
              />
              <h3 class="h5 lg:h4 m-0">Select the transfer option</h3>
              <p class="fs-6">
                ATM, at a bank branch, or through your mobile and online
                banking
              </p>
            </div>
          </div>
          <div class="min-w-1/4">
            <div
              class="panel vstack items-center gap-2 text-center p-5 xl:py-8"
            >
              <span
                class="icon-box w-40px md:w-48px h-40px md:h-48px rounded-circle cstack bg-primary dark:bg-tertiary text-black"
                >2</span
              >
              <img
                class="w-100 max-h-200px"
                src="./assets/our/2.png"
                alt="Image"
              />
              <h3 class="h5 lg:h4 m-0">Transfer</h3>
              <p class="fs-6">
                Mention payment details from your personal area
              </p>
            </div>
          </div>
          <div class="min-w-100 lg:min-w-1/4">
            <div
              class="panel vstack items-center gap-2 text-center p-5 xl:py-8"
            >
              <span
                class="icon-box w-40px md:w-48px h-40px md:h-48px rounded-circle cstack bg-primary dark:bg-tertiary text-black"
                >3</span
              >
              <img
                class=" max-h-200px"
                src="./assets/our/4.png"
                alt="Image"
              />
              <h3 class="h5 lg:h4 m-0">Notify Us</h3>
              <p class="fs-6">
                Retain the receipt or other proof of payment and notify us
                of the transfer.
              </p>
            </div>
          </div>
        </div>
        <div class="panel vstack p-6 xl:p-8 border-top">
          <div
            class="vstack md:hstack justify-center gap-1 mb-1 lg:mb-3"
            data-anime="translateY: [24, 0]; opacity: [0, 1]; easing: easeOutExpo; duration: 750; delay: 750;"
          >
            <a
              href="https://my.carltonfx.net/auth/register"
              class="btn btn-md btn-primary dark:bg-tertiary text-black px-3 w-auto border-0"
            >
              <span>Start Account</span>
            </a>
            <!-- <a href="#" class="btn btn-md btn-link fw-bold text-none text-primary dark:text-white">Free Watch Demo</a> -->
          </div>
          <div
            class="vstack sm:hstack items-center justify-center gap-1 fs-6"
            data-anime="translateY: [24, 0]; opacity: [0, 1]; easing: easeOutExpo; duration: 750; delay: 850;"
          >
            <div class="hstack justify-center gap-2">
              Exellent
              <div class="rating panel">
                <div class="hstack justify-center">
                  <i class="icon-1 unicon-star-filled text-yellow"></i>
                  <i class="icon-1 unicon-star-filled text-yellow"></i>
                  <i class="icon-1 unicon-star-filled text-yellow"></i>
                  <i class="icon-1 unicon-star-filled text-yellow"></i>
                  <i class="icon-1 unicon-star-filled text-yellow"></i>
                </div>
              </div>
            </div>
            <span class="desc">Based on thousands of reviews.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>