<div id="mt5_details" class="mt5-details section panel overflow-hidden">
  <div class="section-outer panel py-6 lg:py-8 xl:py-10">
    <div class="container">
      <div class="section-inner panel">
        <div
          class="panel row child-cols-12 g-2 lg:g-4"
          data-uc-scrollspy="target: >*; delay: 500; cls: uc-animation-slide-bottom-medium"
        >
          <div>
            <div class="feature-item panel p-2 lg:p-4">
              <div
                class="row child-cols items-center justify-between g-2 md:g-4"
              >
                <div class="col-12 md:col-6 lg:col-5">
                  <div class="panel overflow-hidden rounded-1-5 lg:rounded-2">
                    <figure
                      class="featured-image m-0 rounded ratio ratio-1x1 rounded-2 overflow-hidden"
                    >
                      <img
                        class="media-cover image"
                        src="./assets/images/template/home-10-feature-01.jpg"
                        alt="Instant Messaging"
                      />
                    </figure>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="panel">
                    <div
                      class="panel vstack justify-center gap-4 h-100 sm:p-3 lg:p-4"
                    >
                      <div>
                        <div class="panel vstack gap-2">
                          <span
                            class="cstack w-48px h-48px rounded-1-5 mb-2 d-none lg:d-inline-flex bg-primary text-tertiary dark:bg-tertiary dark:text-primary"
                          >
                            <i class="icon-1 unicon-chat"></i>
                          </span>
                          <h3 class="h4 sm:h3 xl:h2 m-0">Why Carlton Fx?</h3>
                          <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                            Regulated & Licensed – Backed by Dubai's strong financial compliance framework.
                            Global Recognition – Winner of 25+ international awards, including Best Global ECN Broker 2025.
                            Proven Track Record – 10,000+ clients across 20+ countries with consistently positive feedback.
                          </p>
                          <a
                         
                            href="https://my.carltonfx.net/auth/register"
                            class="uc-link btn btn-md xl:btn-lg btn-primary border px-3 lg:px-5 w-min"
                          >
                            <span
                              >Open an Account  
                            </span>
                     
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="feature-item panel p-2 lg:p-4">
              <div
                class="row child-cols items-center justify-between g-2 md:g-4"
              >
                <div class="col-12 md:col-6 lg:col-5 md:order-2">
                  <div class="panel overflow-hidden rounded-1-5 lg:rounded-2">
                    <figure
                      class="featured-image m-0 rounded ratio ratio-1x1 rounded-2 overflow-hidden"
                    >
                      <img
                        class="media-cover image"
                        src="./assets/awwards/mt5.png"
                        alt="HD Video Calling"
                      />
                    </figure>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6 md:order-1">
                  <div class="panel">
                    <div
                      class="panel vstack justify-center gap-4 h-100 sm:p-3 lg:p-4"
                    >
                      <div>
                        <div class="panel vstack gap-2">
                          <span
                            style="width: 9rem"
                            class="cstack p-2 h-48px rounded-1-5 mb-2 d-none lg:d-inline-flex bg-primary text-tertiary"
                          >
                            <img src="./assets/awwards/image.png" alt="icon" />
                          </span>
                          <h3 class="h4 sm:h3 xl:h2 m-0">
                            Exceptional Trading Platforms Beyond Compare
                          </h3>
                          <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                            Harness the power of MetaTrader 5 (MT5) for
                            lightning fast, seamless trading on any device -
                            never miss a profitable opportunity!
                          </p>
                          <div
                            class="row child-cols-12 lg:child-cols-12 col-match g-3"
                          >
                            <div>
                              <!-- Advanced Charting: Utilize MT5's advanced charting tools
Fast Execution: Benefit from lightning-fast trade execution
Multi-Platform: Trade seamlessly on desktop, web, or mobile -->
                              <div class="panel hstack gap-1">
                                <i
                                  class="icon icon-2 unicon-checkmark text-primary"
                                ></i>
                                <span
                                  class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70"
                                  >Advanced Charting: Utilize MT5's advanced
                                  charting tools</span
                                >
                              </div>
                            </div>

                            <div>
                              <div class="panel hstack gap-1">
                                <i
                                  class="icon icon-2 unicon-checkmark text-primary"
                                ></i>
                                <span
                                  class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70"
                                  >Fast Execution: Benefit from lightning-fast
                                  trade execution</span
                                >
                              </div>
                            </div>
                            <div>
                              <div class="panel hstack gap-1">
                                <i
                                  class="icon icon-2 unicon-checkmark text-primary"
                                ></i>
                                <span
                                  class="fs-6 sm:fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70"
                                  >Multi-Platform: Trade seamlessly on desktop,
                                  web, or mobile</span
                                >
                              </div>
                            </div>
                          </div>
                          <div
                            style="gap: 1rem"
                            class="row child-cols-12 lg:child-cols-12 col-match g-3"
                          >
                            <a
                              href="https://download.mql5.com/cdn/web/carlton.financial.limited/mt5/carltonfinancial5setup.exe"
                              class="uc-link btn btn-md xl:btn-lg btn-primary border px-3 lg:px-5 w-auto"
                            >
                              <span
                                >MT5 Desktop
                                <i class="ri-folder-download-line"></i
                              ></span>
                              <!-- <i class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i> -->
                            </a>
                            <a
                              href="https://my.carltonfx.net/auth/register"
                              class="uc-link btn btn-md xl:btn-lg btn-primary border px-3 lg:px-5 w-auto"
                            >
                              <span
                                >MT5 Mobile
                                <i class="ri-mobile-download-line"></i
                              ></span>
                              <!-- <i class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i> -->
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
