<div
style="padding-top: 3rem"
id="builder_elements"
class="builder-elements section panel"
>
<div class="section-outer panel py-6 md:py-8 xl:py-10">
  <div class="container xl:max-w-xl">
    <div
      class="section-inner panel vstack items-center gap-3 xl:gap-4 text-center max-w-100"
      data-anime="onview: -100; targets: > *; translateY: [-40, 0]; opacity: [0, 1]; easing: easeOutCubic; duration: 500; delay: anime.stagger(200);"
    >
      <span
        style="color: white"
        ;
        class="fs-7 fw-medium py-narrow px-2 border rounded-pill"
        >Payment Gateways</span
      >
      <h2 class="h3 lg:h2 m-0">
        Quick withdrawal with local payment options
      </h2>
      <p class="fs-6 xl:fs-5 xl:px-8">
        Accept payments in multiple currencies and countries with our
        payment gateway.
      </p>
      <div class="panel w-100">
        <div
          class="swiper mask-x"
          data-uc-swiper="items: 2.5; gap: 16; center: true; center-bounds: true; autoplay: 7000; loop: true; speed: 7000; autoplay-delay: -1; autoplay-disableOnInteraction: true; allowTouchMove: false;"
          data-uc-swiper-m="items: 3; gap: 20;"
          data-uc-swiper-l="items: 5; gap: 24;"
        >
          <div class="swiper-wrapper items-center ease-linear">
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/1.png"
                  alt="Element : Section"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Mastercard</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/2.png"
                  alt="Element : Section"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Razorpay</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/3.png"
                  alt="Element : Section"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Skrill</span
                >
              </div>
            </div>

            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/4.png"
                  alt="Element : Section"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Etherum</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/5.png"
                  alt="Element : Section"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Ethereum</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/6.png"
                  alt="Element : Section"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Tether</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/7.png"
                  alt="Element : Section"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                ></span>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/8.png"
                  alt="Element : Section"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Wire Transfer</span
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper mask-x my-2 md:my-3"
          data-uc-swiper="items: 2.5; gap: 16; center: true; center-bounds: true; autoplay: 7000; loop: true; speed: 7000; autoplay-delay: -1; autoplay-disableOnInteraction: true; autoplay-reverseDirection: true; allowTouchMove: false;"
          data-uc-swiper-m="items: 3; gap: 20;"
          data-uc-swiper-l="items: 5; gap: 24;"
        >
          <div class="swiper-wrapper items-center ease-linear">
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/1.png"
                  alt="Element : Divider"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Mastercard</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/2.png"
                  alt="Element : Spacer"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Razorpay</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/3.png"
                  alt="Element : Image"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Skrill</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/4.png"
                  alt="Element : Video"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Neteller</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/5.png"
                  alt="Element : Map"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Ethereum</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/6.png"
                  alt="Element : Charts"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Tether</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/7.png"
                  alt="Element : Blog Posts"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Tron</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/8.png"
                  alt="Element : Portfolio"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Wire Transfer</span
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper mask-x"
          data-uc-swiper="items: 2.5; gap: 16; center: true; center-bounds: true; autoplay: 7000; loop: true; speed: 7000; autoplay-delay: -1; autoplay-disableOnInteraction: true; allowTouchMove: false;"
          data-uc-swiper-m="items: 3; gap: 20;"
          data-uc-swiper-l="items: 5; gap: 24;"
        >
          <div class="swiper-wrapper items-center ease-linear">
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/8.png"
                  alt="Element : Video"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Wire transfer</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/7.png"
                  alt="Element : Map"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Tron</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/6.png"
                  alt="Element : Charts"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Tether</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/5.png"
                  alt="Element : Blog Posts"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Ethereum</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/4.png"
                  alt="Element : Portfolio"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Neteller</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/3.png"
                  alt="Element : Ecommerce"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Skrill</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/2.png"
                  alt="Element : Text Content"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Razorpay</span
                >
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="cstack gap-1 md:gap-2 p-1 md:p-2 border rounded-pill"
              >
                <img
                  style="width: 3rem"
                  class="icon text-primary dark:text-secondary"
                  src="./assets/icons/1.png"
                  alt="Element : Popups"
                  data-uc-svg
                />
                <span
                  style="color: white"
                  ;
                  class="fs-7 md:fs-6 lg:fs-5 fw-medium"
                  >Mastercard</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>