<div id="about_us" class="about-us section panel overflow-hidden" data-anime="onview: -100; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
    <div class="section-outer panel py-6 xl:py-9 bg-tertiary-50 rounded-2 dark:bg-tertiary-700 border border-tertiary-50 dark:border-white dark:border-opacity-15">
        <div class="d-none lg:d-block" data-anime="onview: -100; targets: img; scale: [0.8, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 350;">
            <!-- <div class="position-absolute bottom-0 start-0 ms-n8 mb-6">
                <img class="w-150px xl:w-250px d-block dark:d-none" src="https://unistudio.co/html/lexend/assets/images/template/walking.svg" alt="walking">
                <img class="w-150px xl:w-250px d-none dark:d-block" src="https://unistudio.co/html/lexend/assets/images/template/walking-dark.svg" alt="walking-dark">
            </div> -->
        </div>
        <div class="container max-w-lg">
            <div class="section-inner panel">
                <div class="panel vstack text-center" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                    <h2 class="h3 lg:h2 mb-4">What We Provide</h2>
                    <p class="fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Carlton Financial Limited offers various account types, trading software, and tools to help individuals and institutional customers trade Forex and derivatives online. All Retail, Affiliates And White Label Clients Have The Opportunity To Access Various Spreads And Liquidity Via State Of The Art Automated Trading Platforms. Carlton Provides An Unparalleled Variety Of Account Options That Clients Can Select To Enjoy A Tailored Trading Experience That Perfectly Suits Their Needs. Coupled With Superior Trading Conditions And Lightning Fast Execution, Carlton Provides All The Tools And Services Needed For Clients Of Any Level To Realise Their Trading Ambitions. Carlton Financial Limited is incorporated under the laws of Saint Lucia with company registration number 2024-00131 holding registered address at Ground Floor, The Sotheby Building, Rodney Village, Rodney Bay, Gros-Islet, Saint Lucia.</p>
             
                    <div class="panel mt-6">
                        <div class="row child-cols-6 lg:child-cols-4 justify-center g-3 col-match">
                            <div>
                                <div class="panel vstack gap-1">
                                    <h4 class="h2 xl:h1 m-0"><span data-anime="onview: -100; textContent: [0,20]; round: 1; easing: linear; duration: 1200;">0</span>+</h4>
                                    <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">Market Analysts</p>
                                </div>
                            </div>
                            <div>
                                <div class="panel vstack gap-1">
                                    <h4 class="h2 xl:h1 m-0">1:<span data-anime="onview: -100; textContent: [0,500]; round: 1; easing: linear; duration: 1200;">0</span></h4>
                                    <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">Provides Highest Leverage.</p>
                                </div>
                            </div>
                            <div>
                                <div class="panel vstack gap-1">
                                    <h4 class="h2 xl:h1 m-0"><span data-anime="onview: -100; textContent: [0, 50]; round: 1; easing: linear; duration: 1200;">0</span>+</h4>
                                    <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70 text-nowrap">Employees Globally</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>