<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarltonFx | Home</title>
    <link rel="icon" type="image/png" href="./assets/favicon.png" />
    <meta
      name="description"
      content="CarltonFx is a leading provider of financial services, offering a wide range of products and services to clients worldwide."
    />
    <link rel="icon" type="image/png" href="./assets/favicon.png" />
    <meta
      name="keywords"
      content="CarltonFx, financial services, investment, trading, forex, stock market, commodities, CFD, options, derivatives, trading platform, trading tools, trading strategies, trading education, trading psychology, trading risk management, trading money management, trading psychology, trading risk management, trading money management"
    />
    <link rel="canonical" href="https://carltonfx.com" />
    <meta name="theme-color" content="#178d72" />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- Open Graph Tags -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="carltonFx" />
    <meta
      property="og:description"
      content="CarltonFx, financial services, investment, trading, forex, stock market, commodities, CFD, options, derivatives, trading platform, trading tools, trading strategies, trading education, trading psychology, trading risk management, trading money management, trading psychology, trading risk management, trading money management"
    />
    <meta property="og:url" content="https://carltonfx.com" />
    <meta property="og:site_name" content="carltonFx" />
    <meta property="og:image" content="./assets/images/logo/logo.png" />
    <meta property="og:image:width" content="1180" />
    <meta property="og:image:height" content="600" />
    <meta property="og:image:type" content="image/png" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="carltonFx" />
    <meta
      name="twitter:description"
      content="CarltonFx, financial services, investment, trading, forex, stock market, commodities, CFD, options, derivatives, trading platform, trading tools, trading strategies, trading education, trading psychology, trading risk management, trading money management, trading psychology, trading risk management, trading money management"
    />
    <meta name="twitter:image" content="./assets/images/logo/logo.png" />

    <!-- <link rel="canonical" href="https://unistudio.co/html/ /" /> -->

    <!-- preload head styles -->
    <link rel="preload" href="./assets/css/fonts.css" as="style" />
    <link rel="preload" href="./assets/css/unicons.min.css" as="style" />
    <link rel="preload" href="./assets/css/swiper-bundle.min.css" as="style" />
    <link rel="preload" href="./assets/css/magic-cursor.min.css" as="style" />

    <!-- preload footer scripts -->
    <link rel="preload" href="./assets/js/libs/jquery.min.js" as="script" />
    <link
      rel="preload"
      href="./assets/js/libs/scrollmagic.min.js"
      as="script"
    />
    <link
      rel="preload"
      href="./assets/js/libs/swiper-bundle.min.js"
      as="script"
    />
    <link rel="preload" href="./assets/js/libs/anime.min.js" as="script" />
    <link rel="preload" href="./assets/js/libs/typed.min.js" as="script" />
    <link rel="preload" href="./assets/js/libs/tilt.min.js" as="script" />
    <link rel="preload" href="./assets/js/libs/split-type.min.js" as="script" />
    <link rel="preload" href="./assets/js/libs/prettify.min.js" as="script" />
    <link rel="preload" href="./assets/js/libs/gsap.min.js" as="script" />
    <link
      rel="preload"
      href="./assets/js/libs/smooth-scroll.min.js"
      as="script"
    />
    <link rel="preload" href="./assets/js/core/magic-cursor.js" as="script" />
    <link
      rel="preload"
      href="./assets/js/helpers/data-attr-helper.js"
      as="script"
    />
    <link
      rel="preload"
      href="./assets/js/helpers/swiper-helper.js"
      as="script"
    />
    <link
      rel="preload"
      href="./assets/js/helpers/splitype-helper.js"
      as="script"
    />
    <link
      rel="preload"
      href="./assets/js/helpers/anime-helper.js"
      as="script"
    />
    <link
      rel="preload"
      href="./assets/js/helpers/typed-helper.js"
      as="script"
    />
    <link rel="preload" href="./assets/js/helpers/tilt-helper.js" as="script" />
    <link rel="preload" href="./assets/js/core/marquee.js" as="script" />
    <link rel="preload" href="./assets/js/uikit-components-bs.js" as="script" />
    <link rel="preload" href="./assets/js/form.js" as="script" />
    <link rel="preload" href="./assets/js/app.js" as="script" />

    <!-- app head for bootstrap core -->
    <script src="./assets/js/app-head-bs.js"></script>

    <!-- include uni-core components -->
    <link rel="stylesheet" href="./assets/js/uni-core/css/uni-core.min.css" />

    <!-- include styles -->
    <link rel="stylesheet" href="./assets/css/fonts.css" />
    <link rel="stylesheet" href="./assets/css/unicons.min.css" />
    <link rel="stylesheet" href="./assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/css/prettify.min.css" />
    <link rel="stylesheet" href="./assets/css/magic-cursor.min.css" />

    <!-- include main style -->
    <link rel="stylesheet" href="./assets/css/theme/main.purge.css" />
    <link rel="stylesheet" href="./assets/css/theme/theme-five.purge.css" />

    <!-- include scripts -->
    <script src="./assets/js/uni-core/js/uni-core-bundle.min.js"></script>
  </head>