<footer id="uc-footer" class="uc-footer panel overflow-hidden">
    <div
      class="footer-outer py-6 lg:py-8 xl:py-9 lg:m-2 rounded-2 bg-secondary dark:bg-tertiary-700 border border-secondary dark:border-white dark:border-opacity-15"
    >
      <div class="uc-footer-content">
        <div class="container xl:max-w-xl">
          <div class="uc-footer-inner vstack gap-4 lg:gap-6 xl:gap-8">
            <div class="uc-footer-widgets panel">
              <div class="row child-cols-6 md:child-cols col-match g-4">
                <div class="col-12">
                  <div
                    class="panel vstack items-center gap-1 max-w-400px lg:max-w-750px mx-auto text-center mb-6 xl:mb-8"
                  >
                    <div class="mb-2 lg:mb-3">
                      <a
                        href="#"
                        class="btn btn-md xl:btn-lg btn-primary border border-dark dark:border-white dark:border-opacity-15 px-3 lg:px-5 w-auto rounded-pill"
                      >
                        <span>Start your free trial</span>
                      </a>
                    </div>
                    <!-- <div
                      class="vstack sm:hstack justify-center gap-1 fs-6 text-gray-900 dark:text-white"
                    >
                      <div class="hstack justify-center gap-2">
                        <b>Super</b>
                        <div class="rating panel">
                          <div class="hstack justify-center gap-narrow">
                            <i
                              class="icon unicon-star-filled text-white p-narrow"
                              style="background-color: #00b67a"
                            ></i>
                            <i
                              class="icon unicon-star-filled text-white p-narrow"
                              style="background-color: #00b67a"
                            ></i>
                            <i
                              class="icon unicon-star-filled text-white p-narrow"
                              style="background-color: #00b67a"
                            ></i>
                            <i
                              class="icon unicon-star-filled text-white p-narrow"
                              style="background-color: #00b67a"
                            ></i>
                            <i
                              class="icon unicon-star-filled text-white p-narrow"
                              style="background-color: #00b67a"
                            ></i>
                          </div>
                        </div>
                      </div>
                      <div class="hstack justify-center gap-narrow">
                        <span class="desc rtl:order-first"
                          >5,200+ reviews on</span
                        >
                        <div>
                          <img
                            src="https://unistudio.co/html/ /assets/images/review-logo/05.svg"
                            alt="Trustpilot"
                            class="w-96px dark:d-none"
                          />
                          <img
                            src="https://unistudio.co/html/ /assets/images/review-logo/dark-05.svg"
                            alt="Trustpilot"
                            class="w-96px d-none dark:d-inline-flex"
                          />
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="col-12 lg:col-6">
                  <div
                    class="panel vstack items-start gap-3 xl:gap-4 lg:max-w-1/2"
                  >
                    <div>
                      <a
                        class="panel text-none"
                        href="/"
                        style="width: 140px"
                      >
                        <img
                          class="text-tertiary dark:text-primary"
                          src="./assets/images/logo/logo.png"
                          alt="cartonfx"
                          data-uc-svg
                        />
                      </a>
                      <p class="mt-2">Take Your Trending on the Go</p>
                    </div>
                  </div>
                </div>
                <div>
                  <ul class="nav-y gap-2 fw-medium dark:text-white">
                    <li><a href="#how_it_works">Privacy Policy</a></li>
                    <li><a href="#features">Cookie Policy</a></li>
                    <li><a href="#key_features">Terms of Service</a></li>
                    <li><a href="#builder_elements">Refund Policy</a></li>
                    <li><a href="#pricing">Disclaimer</a></li>
                    <li><a href="#">Changelog</a></li>
                  </ul>
                </div>

                <div class="d-none lg:d-block">
                  <ul class="nav-y gap-2 fw-medium dark:text-white">
                    <li><a href="blog.html">whatsapp</a></li>
                    <li><a href="#">Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Support</a></li>
                  </ul>
                </div>
                <div class="d-none lg:d-block">
                  <ul class="nav-y gap-2 fw-medium dark:text-white">
                    <li><a href="blog.html">whatsapp</a></li>
                    <li><a href="#">Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Support</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              class="uc-footer-bottom panel vstack text-center pt-4 lg:pt-6 mt-6 border-top"
            >
              <p>
                <span class="fw-bold text-primary">Risk Warning</span>: The
                Financial Products Offered Via This Website Include Digitals,
                Contracts For Difference (CFDs), And Other Complex Derivatives
                And Financial Products. Trading Options May Not Be Suitable
                For Everyone. Trading CFDs Carries A High Level Of Risk Since
                Leverage Can Work Both To Your Advantage And Disadvantage. As
                A Result, The Products Offered On This Website May Not Be
                Suitable For All Investors Because Of The Risk Of Losing All
                Of Your Invested Capital. You Should Never Invest Money That
                You Cannot Afford To Lose, And Never Trade With Borrowed
                Money. Before Trading In The Complex Financial Products
                Offered, Please Be Sure To Understand The Risks Involved And
                Learn About Secure And Responsible Trading. Please read and
                ensure you fully understand our <a href="./assets/Risk-Warning-Notice (1).pdf">Risk Disclosure</a>.
              </p>
              <p><span class="fw-bold text-primary">Restricted Regions</span>: Carlton Financial Limited does not provide services for the residents of certain countries, such as the United States of America, Canada, Israel, UAE, India and the Islamic Republic of Iran.</p>
              <p>Carlton Financial Limited does not direct its website and services to any individual in any country in which the use of its website and services are prohibited by local laws or regulations. When accessing this website from a country in which its use may or may not be prohibited, it is the user's responsibility to ensure that any use of the website or services adhere to local laws or regulations. does not affirm that the information on its website is suitable to all jurisdictions.</p>
            </div>
            <div
              class="uc-footer-bottom panel vstack lg:hstack gap-4 justify-between text-center pt-4 lg:pt-6 mt-6 border-top"
            >
              <p> <span style="position:absolute;opacity:0;">Abshar777</span> Carlton Fx © 2025, All rights reserved.</p>
              <ul class="nav-x justify-center gap-2">
                <li>
                  <a class="duration-150 hover:text-primary" href="#"
                    ><i class="icon icon-2 unicon-logo-linkedin"></i
                  ></a>
                </li>
                <li>
                  <a class="duration-150 hover:text-primary" href="#"
                    ><i class="icon icon-2 unicon-logo-facebook"></i
                  ></a>
                </li>
                <li>
                  <a class="duration-150 hover:text-primary" href="#"
                    ><i class="icon icon-2 unicon-logo-x-filled"></i
                  ></a>
                </li>
                <li>
                  <a class="duration-150 hover:text-primary" href="#"
                    ><i class="icon icon-2 unicon-logo-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
