<div id="uc-menu-panel" data-uc-offcanvas="overlay: true;">
    <div
      class="uc-offcanvas-bar bg-white text-dark dark:bg-tertiary-800 dark:text-white"
    >
      <header
        class="uc-offcanvas-header hstack justify-between items-center pb-2"
      >
        <div class="uc-logo">
          <a class="h5 text-none text-gray-900 dark:text-white" href="/">
            <img
              style="width: 140px"
              src="./assets/images/logo/logo.png"
              alt=" "
            />
          </a>
        </div>
        <button
          class="uc-offcanvas-close rtl:end-auto rtl:start-0 m-1 mt-2 icon-3 btn border-0 dark:text-white dark:text-opacity-50 hover:text-primary hover:rotate-90 duration-150 transition-all"
          type="button"
        >
          <i class="unicon-close"></i>
        </button>
      </header>

      <div class="panel">
        <ul class="nav-y gap-narrow fw-medium fs-6" data-uc-nav>
          <li><a class="text-primary" href="/">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./account-types.html">Account Types</a></li>
          <li><a href="./contact.html">Contact</a></li>
          <li><a href="./stock-indices.html">Stock & Indices</a></li>
          <li><a href="./metals.html">Metals</a></li>
          <li><a href="./forex.html">Forex</a></li>
          <li><a href='./cfd-trading.html'>CFD Trading</a></li>
     <a
            style="background-color: #00EC4B !important;color:black;"
            class="btn btn-sm mt-2 text-black border  fs-5 lg:px-3 d-inline-flex rounded-pill"
            href="https://my.carltonfx.net/auth/register"
            >Login</a
          >        </ul>
        <ul class="social-icons nav-x mt-4">
          <li>
            
          </li>
        </ul>
      </div>
    </div>
  </div>