<div id="tt-page-transition">
    <div class="tt-ptr-overlay-top tt-noise"></div>
    <div class="tt-ptr-overlay-bottom tt-noise"></div>
    <div class="tt-ptr-preloader">
      <div class="tt-ptr-prel-content">
        <!-- {/* <img src="/assets/images/logo/logo.png" className="tt-ptr-prel-image" alt="Logo" /> */} -->
        <h1 class="text-white text-2xl font-bold">Carlton&nbsp;Fx</h1>
        <span
          style="gap: 10px; padding: 0.7rem 1rem"
          class="fs-7 fw-medium bg-dark text-white dark: bg-primary dark:text-dark rounded-pill"
        >
          <img
            src="./assets/images/sc/gw.png"
            alt="Trustpilot"
            style="width: 30px"
          />
          Guinness Record Holder
        </span>
      </div>
    </div>
  </div>