<div
  id="clients_feedbacks"
  class="clients-feedbacks section panel overflow-hidden"
>
  <div class="section-outer panel py-6 xl:py-9">
    <div class="container">
      <div class="section-inner panel">
        <div
          class="panel vstack gap-4 sm:gap-6 xl:gap-8"
          data-anime="onview: -200; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: easeOutCubic; duration: 450; delay: anime.stagger(100, {start: 200});"
        >
          <div class="section-header vstack items-center gap-2 lg:gap-3">
            <span
              class="fs-7 fw-medium py-narrow px-2 bg-dark text-white dark:bg-primary dark:text-dark rounded-pill"
              >Clients feedback</span
            >
            <h2 class="h4 sm:h3 lg:h1 m-0 text-center max-w-650px mx-auto">
              What our
              <span class="text-tertiary dark:text-primary"
                >satisfied clients</span
              >
              said about us!
            </h2>
          </div>
          <div
            id="clients_feedback_area"
            class="panel w-100 max-w-lg mx-auto h-700px overflow-hidden"
          >
            <div
              class="row child-cols-12 sm:child-cols-6 lg:child-cols-4 gx-4 gy-0"
              data-uc-grid="masonry: true;"
            >
              <div>
                <div
                  class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5 rounded-2"
                >
                  <div class="panel vstack items-start gap-2">
                    <p class="fs-6 lg:fs-5">
                      “Carlton FX has transformed the way I trade. The spreads
                      are tight, execution is instant, and I finally feel in
                      control of my portfolio.”
                    </p>
                  </div>
                  <div class="panel hstack gap-2 mt-2">
                    <img
                      class="w-40px rounded-circle"
                      src="./assets/images/avatars/01.png"
                      alt="David Miller"
                    />
                    <div class="panel vstack justify-center gap-narrow">
                      <ul class="nav-x gap-0 text-warning">
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                      </ul>
                      <span class="fw-bold ft-secondary dark:text-white m-0"
                        >David Miller</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div
                  class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5 rounded-2"
                >
                  <div class="panel vstack items-start gap-2">
                    <p class="fs-6 lg:fs-5">
                      “The Carlton FX app is so smooth—I can trade on the go
                      without worrying about delays. Deposits and withdrawals
                      are lightning fast too.”
                    </p>
                  </div>
                  <div class="panel hstack gap-2 mt-2">
                    <img
                      class="w-40px rounded-circle"
                      src="./assets/images/avatars/02.png"
                      alt="Sophia Chen"
                    />
                    <div class="panel vstack justify-center gap-narrow">
                      <ul class="nav-x gap-0 text-warning">
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                      </ul>
                      <span class="fw-bold ft-secondary dark:text-white m-0"
                        >Sophia Chen</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div
                  class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5 rounded-2"
                >
                  <div class="panel vstack items-start gap-2">
                    <p class="fs-6 lg:fs-5">
                      “As a beginner, I started with Carlton FX’s demo account.
                      The tutorials and guidance gave me the confidence to move
                      into live trading.”
                    </p>
                  </div>
                  <div class="panel hstack gap-2 mt-2">
                    <img
                      class="w-40px rounded-circle"
                      src="./assets/images/avatars/03.png"
                      alt="Michael O’Connor"
                    />
                    <div class="panel vstack justify-center gap-narrow">
                      <ul class="nav-x gap-0 text-warning">
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                      </ul>
                      <span class="fw-bold ft-secondary dark:text-white m-0"
                        >Michael O’Connor</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div
                  class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5 rounded-2"
                >
                  <div class="panel vstack items-start gap-2">
                    <p class="fs-6 lg:fs-5">
                      “I’ve used several brokers before, but Carlton FX has the
                      best customer support team. They actually respond quickly
                      and solve issues.”
                    </p>
                  </div>
                  <div class="panel hstack gap-2 mt-2">
                    <img
                      class="w-40px rounded-circle"
                      src="./assets/images/avatars/04.png"
                      alt="Aisha Rahman"
                    />
                    <div class="panel vstack justify-center gap-narrow">
                      <ul class="nav-x gap-0 text-warning">
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                      </ul>
                      <span class="fw-bold ft-secondary dark:text-white m-0"
                        >Aisha Rahman</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div
                  class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5 rounded-2"
                >
                  <div class="panel vstack items-start gap-2">
                    <p class="fs-6 lg:fs-5">
                      “The platform is intuitive, charts are clear, and the
                      tools help me make better decisions. Carlton FX is perfect
                      for traders of all levels.”
                    </p>
                  </div>
                  <div class="panel hstack gap-2 mt-2">
                    <img
                      class="w-40px rounded-circle"
                      src="./assets/images/avatars/05.png"
                      alt="Lucas Fernandez"
                    />
                    <div class="panel vstack justify-center gap-narrow">
                      <ul class="nav-x gap-0 text-warning">
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                      </ul>
                      <span class="fw-bold ft-secondary dark:text-white m-0"
                        >Lucas Fernandez</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div
                  class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5 rounded-2"
                >
                  <div class="panel vstack items-start gap-2">
                    <p class="fs-6 lg:fs-5">
                      “As a beginner, I started with Carlton FX’s demo account.
                      The tutorials and guidance gave me the confidence to move
                      into live trading.”
                    </p>
                  </div>
                  <div class="panel hstack gap-2 mt-2">
                    <img
                      class="w-40px rounded-circle"
                      src="./assets/images/avatars/03.png"
                      alt="Michael O’Connor"
                    />
                    <div class="panel vstack justify-center gap-narrow">
                      <ul class="nav-x gap-0 text-warning">
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                      </ul>
                      <span class="fw-bold ft-secondary dark:text-white m-0"
                        >Michael O’Connor</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div
                  class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5 rounded-2"
                >
                  <div class="panel vstack items-start gap-2">
                    <p class="fs-6 lg:fs-5">
                      “Carlton FX has transformed the way I trade. The spreads
                      are tight, execution is instant, and I finally feel in
                      control of my portfolio.”
                    </p>
                  </div>
                  <div class="panel hstack gap-2 mt-2">
                    <img
                      class="w-40px rounded-circle"
                      src="./assets/images/avatars/01.png"
                      alt="David Miller"
                    />
                    <div class="panel vstack justify-center gap-narrow">
                      <ul class="nav-x gap-0 text-warning">
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                      </ul>
                      <span class="fw-bold ft-secondary dark:text-white m-0"
                        >David Miller</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div
                  class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5 rounded-2"
                >
                  <div class="panel vstack items-start gap-2">
                    <p class="fs-6 lg:fs-5">
                      “The Carlton FX app is so smooth—I can trade on the go
                      without worrying about delays. Deposits and withdrawals
                      are lightning fast too.”
                    </p>
                  </div>
                  <div class="panel hstack gap-2 mt-2">
                    <img
                      class="w-40px rounded-circle"
                      src="./assets/images/avatars/02.png"
                      alt="Sophia Chen"
                    />
                    <div class="panel vstack justify-center gap-narrow">
                      <ul class="nav-x gap-0 text-warning">
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                      </ul>
                      <span class="fw-bold ft-secondary dark:text-white m-0"
                        >Sophia Chen</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div
                  class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 dark:bg-gradient-45 from-tertiary to-transparent border border-dark dark:border-white dark:border-opacity-15 rounded-1-5 rounded-2"
                >
                  <div class="panel vstack items-start gap-2">
                    <p class="fs-6 lg:fs-5">
                      “As a beginner, I started with Carlton FX’s demo account.
                      The tutorials and guidance gave me the confidence to move
                      into live trading.”
                    </p>
                  </div>
                  <div class="panel hstack gap-2 mt-2">
                    <img
                      class="w-40px rounded-circle"
                      src="./assets/images/avatars/03.png"
                      alt="Michael O’Connor"
                    />
                    <div class="panel vstack justify-center gap-narrow">
                      <ul class="nav-x gap-0 text-warning">
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                        <li>
                          <i class="icon icon-narrow unicon-star-filled"></i>
                        </li>
                      </ul>
                      <span class="fw-bold ft-secondary dark:text-white m-0"
                        >Michael O’Connor</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              id="clients-feedback-toggle-area"
              class="position-absolute bottom-0 start-0 end-0 h-300px vstack items-center justify-end bg-gradient-to-t from-white dark:from-tertiary-800 to-transparent z-1"
            >
              <a
                class="btn btn-primary border border-dark dark:border-white dark:border-opacity-15 rounded-pill px-3"
                href="#"
                data-uc-toggle="target: #clients_feedback_area; cls: uc-active"
                >View all feedbacks</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
